option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx

files:
  "/etc/systemd/system/nodejs.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Node.js App
      After=network.target

      [Service]
      WorkingDirectory=/var/app/current
      ExecStart=/usr/bin/npm start
      Restart=always
      RestartSec=10
      StandardOutput=journal
      StandardError=journal
      SyslogIdentifier=nodejs-app
      User=webapp
      Environment=PATH=/usr/bin:/usr/local/bin

      [Install]
      WantedBy=multi-user.target

commands:
  01_enable_nodejs_service:
    command: systemctl enable nodejs.service
  02_start_nodejs_service:
    command: systemctl start nodejs.service || true 